body {
    position: relative;
    display : flex;
    justify-content: flex-end;
    align-items: flex-start;
    min-height: 100vh;
    background-color: black;
}

h1 {
    text-align: center; 
    margin-bottom: 20px; 
    width: 100%; 
    color: white;
}



.calculadora-container {
    position: absolute;
    top: 20%; /* Centraliza verticalmente (ajuste conforme necessário) */
    right: 20px; /* Posiciona a 20px da borda direita */
    transform: translateY(-50%); /* Ajusta o alinhamento vertical */
    margin-left: auto;
    
}

.js-display{
    color: white;
    font-size: 25px;
    font-family: Arial;
}

.btnNum {
    font-family: Arial;
    font-size: 15px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(53, 52, 52);
    color: white;
    border: none;
}

.btnSimb {
    font-family: Arial;
    font-size: 15px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(240, 161, 14);
    color: white;
    border: none;
}

.btnLimp {
    font-family: Arial;
    font-size: 8px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    padding: 2px 2px;
    background-color: rgb(53, 52, 52);
    color: white;
    border: none;
}

